{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire n°{{ comment.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification du commentaire n°{{ comment.id }}</h1>
        <div class="alert alert-primary my-3">
            <p>
                <strong>Annonce liée : </strong>{{ comment.ad.title }}<br>
                <strong>Auteur : </strong>{{ comment.author.fullName }}<br>
                <strong>Date de création : </strong>{{ comment.createdAt | date('d/m/Y h:i') }}<br>
                <strong>Note donnée : </strong>{{ comment.rating }}
            </p>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary my-4">Enregistrer les modifications</button>
        {{ form_end(form) }}

    </div>
{% endblock %}