{% extends 'base.html.twig' %}

{% block title %}Editer une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Editer une annonce : {{ ad.title }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Editer l\'annonce') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez éditer vos images</p>
    {{ form_widget(form) }}

    {# Pour gérer bug #}
    <input type="hidden" id="widget-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter image</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}